.categories {
  background-color: $color-secondary;
  display: flex;
  flex: 0 0 20%;
  flex-direction: column;
  max-height: calc(100vh - 50px);

  &__header {
    @include rem("padding", 15px 10px);
    @include rem("font-size", 20px);
    color: #FFF;
    font-weight: $font-weight-light;
    position: relative;
    text-transform: uppercase;
  }

  &__container {
    @include rem("padding", 0 0 15px);
    @include rem("font-size", 16px);
  }

  &__list-item {
    background-color: $color-secondary-darker;
    border-bottom: 1px solid lighten($color-secondary, 15);
    position: relative;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__list-item-link {
    @include rem("padding", 0 10px);
    color: #FFFFFF;
    display: inline-block;
    font-weight: $font-weight-light;
    line-height: 40px;
  }

  &__add-feed-link {
    @include rem("padding", 0 10px);
    @include rem("font-size", 12px);
    color: #FFFFFF;
    font-weight: $font-weight-light;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 10px;

    &:before {
      @include rem("margin-right", 5px);
      content: "\f0fe";
      font-family: $font-family-icon;
      position: relative;
      top: 1px;
    }
  }

  &__add-cat-link {
    @include rem("font-size", 22px);
    color: #FFFFFF;
    line-height: 50px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;

    &:before {
      content: "\f0fe";
      font-family: $font-family-icon;
    }
  }

  .category-feeds {
    background-color: $color-secondary-dark;

    &__list-item {
      @include rem("padding", 10px 10px 10px 20px);
      @include rem("font-size", 14px);
      position: relative;
    }

    &__list-item-link {
      color: darken(#FFF, 15);
      font-weight: $font-weight-light;
    }

    &__list-item-edit {
      @include rem("font-size", 16px);
      color: #FFFFFF;
      position: absolute;
      line-height: 34px;
      right: 10px;
      top: 0;

      &:before {
        content: "\f044";
        font-family: $font-family-icon;
      }
    }
  }
}
