.categories {
  background-color: #948557;
  display: flex;
  flex: 0 0 25%;
  flex-direction: column;

  &__header {
    @include rem("padding", 15px 10px);
    @include rem("font-size", 20px);
    color: #FFF;
    font-weight: $font-weight-light;
    text-transform: uppercase;
  }

  &__container {
    @include rem("padding", 0 0 15px);
    @include rem("font-size", 18px);
  }

  &__list-item {
    background-color: darken(#948557, 15);
    border-bottom: 1px solid lighten(#948557, 15);

    &:last-child {
      border-bottom: 0;
    }
  }

  &__list-item-link {
    @include rem("padding", 10px);
    color: #FFFFFF;
    display: block;
    font-weight: $font-weight-light;
  }

  .category-feeds {
    @include rem("padding", 10px 10px 10px 20px);
    background-color: darken(#948557, 10);
  }
}
