.feed-item {
  @include rem("padding", 10px 10px 10px 0);
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;

  &__menu-bar {
    @include rem("padding", 0 10px);
    background-color: $color-secondary-light;
    border: 1px solid $color-secondary-darker;
    border-radius: 10px 10px 0 0;
    height: 40px;
    min-height: 40px;
    text-align: right;
  }

  &__read {
    @include rem("margin-right", 15px);
    line-height: 40px;
  }

  &__starred {
    line-height: 40px;
  }

  &__read,
  &__starred {
    color: #333;
    transition: 500ms;

    &:hover {
      color: lighten(#333, 20);
    }
  }

  &__content-wrapper {
    @include rem("padding", 20px);
    border: 2px solid #D3D3D3;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    max-height: calc(100vh - 50px - 60px);
    min-height: calc(100vh - 50px - 60px);
    overflow: auto;
  }

  &__title {
    @include rem("font-size", 24px);
    @include rem("margin-bottom", 10px);
  }

  &__date {
    @include rem("font-size", 16px);
    @include rem("margin-bottom", 10px);
    color: #999;
  }

  &__description {
    > img:last-child {
      display: none;
    }
  }

  img {
    @include rem("padding", 5px);
    @include rem("margin", 5px);
    border: 1px double #D3D3D3;
    display: inline-block;
    height: auto;
    max-width: 100%;
  }

  p {
    @include rem("font-size", 16px);
    @include rem("margin", 10px 0);
    line-height: 1.1;
  }

  blockquote {
    @include rem("padding", 20px 30px);
    font-style: italic;
    font-weight: $font-weight-light;
  }
}