.main-nav {
  @include rem("padding", 0 10px);
  background: $color-main-nav__base;
  position: relative;
  display: flex;
  flex: 0 0 50px;
  flex-direction: row;

  &__logo {
    @include rem("font-size", 20px);
    color: #FFFFFF;
    display: flex;
    height: 50px;
    flex: 1;
    line-height: 50px;
  }

  &__emp {
    color: $color-secondary;
  }

  &__items {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  &__item {
    color: #FFFFFF;
    display: inline-block;
    line-height: 50px;

    &:last-child {
      @include rem("margin-left", 20px);
    }
  }

  &__item-link {
    color: #FFFFFF;

    &:hover {
      color: darken(#FFFFFF, 15);
    }
  }
}